<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
      <!-- <ion-button color="primary" margin (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>Back
      </ion-button> -->
    </ion-buttons>
    <ion-title>Place Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>{{place.title}}</h2>
  <ion-img [src]="place.imgUrl"></ion-img>
  <p>{{place.description}}</p>
  <p>{{place.price | currency}}</p>
  <ion-button expand="full" (click)="bookPlace()">Book</ion-button>
</ion-content>
